<template>
    <div class="container">
        <div class="content">
            <h1>This About page</h1>
            <h2>Hello {{their_name}}</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus pariatur velit ut soluta, cupiditate similique autem nam magni voluptas iste reiciendis quaerat, nesciunt fugiat. Et explicabo ab commodi minus nulla?</p>    

        </div>
    </div>
</template>

<script>
export default {
    name:"About",
    data(){
        return {
            their_name: this.$route.params.name
        }
    }
}
</script>