<template>
  <div class="hello">
    <h1>Yours skills</h1>
    <div class="skills__content">
      <div class="form-row">
        <input type="text" @keyup.enter="addSkill" v-model="skill" placeholder="Enter a skill you have.." class="form-input">
        <i class="addSkilllogo" @click="addSkill">
          <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-circle-right" class="svg-inline--fa fa-arrow-circle-right fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 8c137 0 248 111 248 248S393 504 256 504 8 393 8 256 119 8 256 8zm-28.9 143.6l75.5 72.4H120c-13.3 0-24 10.7-24 24v16c0 13.3 10.7 24 24 24h182.6l-75.5 72.4c-9.7 9.3-9.9 24.8-.4 34.3l11 10.9c9.4 9.4 24.6 9.4 33.9 0L404.3 273c9.4-9.4 9.4-24.6 0-33.9L271.6 106.3c-9.4-9.4-24.6-9.4-33.9 0l-11 10.9c-9.5 9.6-9.3 25.1.4 34.4z"></path></svg>
        </i>
      </div>
      <div class="skills__list">
        <transition-group class="fill_parent" tag="ul" name="skill-list" enter-active-class="animated bounceInUp" leave-active-class="animated bounceOutDown">
          <li  @mouseenter="mouseEntered(skill)" @mouseleave="mouseLeaved(skill)" v-for="skill in skills" :key="skill.id" class="skills__list_item">{{skill.name}}
            <i v-if="skill.active" class="deletelogo" @click="deleteSkill(skill)">
              <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="trash-alt" class="svg-inline--fa fa-trash-alt fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M268 416h24a12 12 0 0 0 12-12V188a12 12 0 0 0-12-12h-24a12 12 0 0 0-12 12v216a12 12 0 0 0 12 12zM432 80h-82.41l-34-56.7A48 48 0 0 0 274.41 0H173.59a48 48 0 0 0-41.16 23.3L98.41 80H16A16 16 0 0 0 0 96v16a16 16 0 0 0 16 16h16v336a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128h16a16 16 0 0 0 16-16V96a16 16 0 0 0-16-16zM171.84 50.91A6 6 0 0 1 177 48h94a6 6 0 0 1 5.15 2.91L293.61 80H154.39zM368 464H80V128h288zm-212-48h24a12 12 0 0 0 12-12V188a12 12 0 0 0-12-12h-24a12 12 0 0 0-12 12v216a12 12 0 0 0 12 12z"></path></svg>
            </i>
          </li>
        </transition-group>
        <p>These are the skills that you possess.</p>
      </div>
      <div v-if="toggle">
        <div class="condition_text">
          <p v-if="btnState">The button is disabled</p>
          <p v-else>The button is active</p>
        </div>
        <button class="btn"  @click="changeName">Change Name</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Skills',
  data(){
    return {
      skill: "",
      toggle: false,
      skills:[
        {id: 1, name: "VueJs Developer", active: false},
        {id: 2, name: "FrontEnd Developer", active: false,},
        {id: 3, name: "Backend Developer", active: false,},
        {id: 3, name: "FullStack Developer", active: false,},
      ],
      name: "Coursetro",
      btnState: false
    }
  },
  methods:{
    changeName(){
      this.btnState = !this.btnState;
      //this.name = "New Name";
    },
    addSkill()
    {
      if(this.skill != "")
      {
        this.skills.push({
          id: this.skills[this.skills.length-1].id+1,
          name: this.skill,
          active: false
        });
        this.skill = "";
      }
    },
    mouseEntered(p_skill){
      p_skill.active = true;
    },
    mouseLeaved(p_skill){
      p_skill.active = false;
    },
    deleteSkill( p_skill)
    {
      this.skills = this.skills.filter(skill => skill != p_skill);
      console.log("delete !")
    }

  }, 
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@import url("https://cdn.jsdelivr.net/npm/animate.css@3.5.1");
.skills__content{
  background: #eee;
  padding: 1em 2em;
  border-radius: 4px;
  border: 1px solid #eee;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
}
.skills__list{
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #fff;
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
  padding: 1em;
  font-weight: 500;
  transition: height .5s;
}
.skills__list_item{
  margin: 1px 0;
  background-color: #a8dfc6;
  width: 100%;
  padding: 1em 0;
  position: relative;
  padding-right: 1em;
  box-sizing: border-box;
}
.skills__list_item::before{
  content: "";
  width: 5px;
  display: block;
  position: absolute;
  background-color: #007440;
  left: 0;
  top: 0;
  bottom: 0;
}
.deletelogo, .addSkilllogo{
  position: absolute;
  width: 20px;
  height: auto;
  right: 1em;
  color: #2c3e50;
  cursor: pointer;
}
.addSkilllogo{
  top: calc(50% - 1em);
  margin: auto 0;
  width: 30px;
}
.form-row{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 1em;
  position: relative;
  box-sizing: border-box;
}
.form-input{
  position: relative;
  width: 100%;
  display: block;
  padding: 1em;
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
  color: rgba(0, 0, 0, .7);
  font-size: 18px;

}
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
