<template>
  <div id="app">
    <nav class="nav">
      <router-link to="/">Home</router-link>
      <router-link :to="getName">About</router-link>
    </nav>
    <router-view/>
    <!-- <skills msg="Welcome to Your Vue.js App"/> -->
  </div>
</template>

<script>
// import Skills from './components/Skills.vue'

export default {
  name: 'App',
  data(){
    return {
      defaultName: "Jhon Doe"
    }
  },
  components: {
    // Skills
  },
  computed:{
    getName(){
      return this.$route.params.name? `/about/${this.$route.params.name}`: `/about/${this.defaultName}`;
    }
  }
}
</script>

<style>
@import url("https://fonts.googleapis.com/css/css?family=Monserrat:400,500,600,700");
#app {
  font-family: 'Montserrat', Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  font-weight: 500;
}
.btn{
  background: #2c3e50;
  color: #fff;
  padding: .8em 1em;
  border-radius: 4px;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  font-weight: 600;
  transition: background .3s;
  border: none;
}
.btn:hover{
  background: #4d6f91
}
.btn:disabled{
  background: rgba(0,0,0,.3);
}

.nav{
  display: flex;
  justify-content: center;
}
.nav a{
  display: block;
  padding: .5em 1em;
  background-color: #4d6f91;
  margin: 0 .5em;
  text-decoration: none;
  color: #fff;
  border-radius: 4px;
}
 .nav a.router-link-exact-active,
 .nav a:hover{
  background-color: #2c3e50;
}

.fill_parent{
  width: 100%
}
</style>
